body {
  margin: 0;
  font-family: Arial, sans-serif;
   padding-top: 70px
}

.header {
  position: relative; /* Fix the header at the top of the page */
  top: 0;
  left: 0;
   width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 10px 0px;
  background-color: transparent;
   z-index: 1000;
  
}

.logo img {
 
  /* logo */

position: absolute;
width: 161px;
height: 32px;
left: 200.61px;
top: 27.76px;


}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 20px;
  
  /* menu */

position: absolute;
width: 255px;
height: 15px;
left: 946px;
top: 37px;
font-size:13px;

}

.menu ul li {
  display: inline;
}

.menu ul li a {
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: color 0.3s ease;
  
}

.menu ul li a:hover {
  color: #007BFF;
}

.main_part{
/* main_part */
 display: flex;
position: relative;
width: 1400px;
height: 849px;
left: 1px;
top: 12px;
margin-top: transparent;



/* background */

position: absolute;
width: 1399px;
height: 849px;
left: 1px;
top: 12px;


background-image: url("headphones_hero_1.jpg");
}
.main_part .text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
  background: transparent; /* Dark overlay */
  padding: 20px;
  border-radius: 10px;
}

.main_part h2 {
  
  /* Lorem ipsum dolor se */

position: absolute;
height: 40px;
left: 4.55%;
right: 4.71%;
top: calc(50% - 40px/2 - 137.09px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 700;
font-size: 32px;
line-height: 40px;
text-align: center;

color: #FFFFFF;


  }

  .main_part btn{
	  text-decoration: none;
  color: white;
  background-color: #007BFF;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 1rem;
  transition: background-color 0.3s ease;
  }
  
 .text p{
	  
/* Lorem ipsum dolor si */

position: absolute;
height: 104px;
left: 0%;
right: 0%;
top: calc(50% - 104px/2 + 103.91px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #FFFFFF;
 }

  
  /* Content Section */
.what_section{
	/* part_1_what_we_do */

position: absolute;
width: 637px;
height: 184px;
left: 358px;
top: 886px;
text-align: center;

}

.icons{
	
/* part_2_icons */

position: absolute;
width: 1002px;
height: 193px;
left: 200px;
top: 1191px;
display: inline;



}

.icons .icon1{
	/* ic_01 */

position: absolute;
width: 207px;
height: 180px;
left: 80px;
top: 54px;


}

.icons .icon2{
	/* ic_02 */

position: absolute;
width: 207px;
height: 193px;
left: 345px;
top: 54px;


}
.icons .icon3{
	/* ic_03 */

position: absolute;
width: 207px;
height: 179px;
left: 610px;
top: 54px;


}
.icons .icon4{
	/* ic_04 */

position: absolute;
width: 207px;
height: 180px;
left: 875px;
top: 54px;


}

.part_3_dark{
	
	/* part_3_dark */

position: absolute;
width: 1400px;
height: 650px;
left: 1px;
top: 1494px;

background-image: url("headphones_hero_2.jpg");
}
.part_3_dark p{
	/* Lorem ipsum dolor si Copy 2 */

position: absolute;
height: 104px;
left: 20.29%;
right: 27.21%;
top: calc(40% - 104px/2 - 52px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 26px;
/* or 162% */
text-align: center;

color: #FFFFFF;


}

.dot_1{
	/* dot_1 */

position: absolute;
left: 4.79%;
right: 21.64%;
top: 50.62%;
bottom: 12.15%;


}
.dot_1 h4{
	/* dot_1 */

position: absolute;
left: 54.79%;

top:28.62%;
color: #FFFFFF;

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: bold;
font-size: 42px;

}

.dot_1 p{
	/* Lorem ipsum dolor */

position: absolute;
height: 26px;
left: 37.05%;
right: 20.53%;

top: calc(58.62% - 26px/2 + 34px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */
text-align: center;

color: #FFFFFF;


}



.dot_2{
	/* dot_2 */

position: absolute;
left: 34.79%;
right: 21.64%;
top: 50.62%;
bottom: 12.15%;

}
.dot_2 h4{
	/* dot_2 */

position: absolute;
left: 33.79%;
right: 52.64%;
top: 58.62%;
bottom: 12.15%;


}

.dot_2 p{
	/* Lorem ipsum dolor */

/* Lorem ipsum dolor */

position: absolute;
height: 26px;
left: 21.05%;
right: 20.53%;
top: calc(50% - 26px/2 + 34px);

font-family: 'Source Sans Pro';
font-style: normal;
font-weight: 400;
font-size: 14px;
line-height: 26px;
/* identical to box height, or 186% */
text-align: center;

color: #FFFFFF;
}

.part_3_dark dot_2 a{
	/* dot_2 */

position: absolute;
left: 33.79%;
right: 52.64%;
top: 38.62%;
bottom: 12.15%;


}